name: MERN Ecommerce CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Backend Install + Test
      - name: Install Backend Dependencies
        working-directory: ./backend
        run: npm install

      - name: Backend Build Check
        working-directory: ./backend
        run: npm run build --if-present

      # Frontend Install + Build
      - name: Install Frontend Dependencies
        working-directory: ./frontend
        run: npm install

      - name: Frontend Build
        working-directory: ./frontend
        run: npm run build

      # Admin Install + Build
      - name: Install Admin Dependencies
        working-directory: ./admin
        run: npm install

      - name: Admin Build
        working-directory: ./admin
        run: npm run build

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker Containers
        run: docker compose build